<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>P圈</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="../vender/layui/css/layui.css" type="text/css" rel="stylesheet">
    <link href="/vender/layui/css/layui.css" type="text/css" rel="stylesheet">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="/static/css/public.css" rel="stylesheet" type="text/css">
    <link href="/static/css/detail.css" rel="stylesheet" type="text/css">
</head>
<body class="layui-bg-gray">
<div class="layui-fluid">
    <!--    导航开始-->
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12">
            <ul class="layui-nav layui-bg-cyan">
                <li class="layui-nav-item layui-logo">
                    <a href="#">P圈|LOGO|学习社区</a>
                </li>
                <li class="layui-nav-item">
                    <a href="#">大学本科</a>
                </li>
                <li class="layui-nav-item">
                    <a href="#">考研</a>
                </li>
                <li class="layui-nav-item">
                    <a href="#">自学充电</a>
                </li>
                <li class="layui-nav-item">
                    <a href="#">圈</a>
                </li>
                <li class="layui-nav-item" style="float: right">
                    <a href="./login.html">注册</a>
                </li>
                <li class="layui-nav-item" style="float: right">
                    <a href="./login.html">登陆</a>
                </li>
            </ul>

        </div>
    </div>
    <!--    导航结束-->
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12 layui-col-md12">
            <div class="layui-card p-source-main p-card-bg-black">
                <div class="layui-card-header">考研宝典</div>
                <div class="layui-card-body">
                    <div class="layui-card p-card-bg-white">
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space18">
                                <div class="layui-col-xs12 layui-col-sm-offset1 layui-col-sm10">
                                    <div class="layui-card">
                                        <div class="layui-card-body">
                                            <div class="layui-row">
                                                <!--                                图片展示区域-->
                                                <div class="layui-col-xs12 layui-col-md4">
                                                    <img src="../static/other/img/temp1.jpg" class="p-source-image">
                                                </div>
                                                <!--                                信息展示区域-->
                                                <div class="layui-col-xs12 layui-col-md6 layui-col-sm-offset1 layui-text p-source-info">
                                                    <p style="font-size: 1.2rem;">考研宝典</p>
                                                    <div class="layui-text layui-bg-gray" style="border-radius: 2px;margin-top: 15px;font-size: 0.8rem;padding: 10px">
                                                        <p style="margin:5px 2px">上传时间:2019-12-21</p>
                                                        <p style="margin:5px 2px">更新时间:2019-12-21</p>
                                                        <p style="margin:5px 2px">文件大小：20MB</p>
                                                        <p style="margin:5px 2px">下载次数：2.3K</p>
                                                    </div>
                                                    <p style="margin-top: 20px"><button class="layui-btn layui-btn-danger layui-btn-lg">付费下载</button></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-xs12 layui-col-sm10 layui-col-sm-offset1">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            描述
                                        </div>
                                        <div class="layui-card-body">
                                            完美
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-xs12 layui-col-sm10 layui-col-sm-offset1">
                                    <div class="layui-card">
                                        <div class="layui-card-header">
                                            评论
                                        </div>
                                        <div class="layui-card-body layui-text">
                                            <p class="p-source-reviews"><a href=""
                                                                           class="p-source-reviews-user">巴依老爷</a> 回复
                                                <a
                                                        href=""
                                                        class="p-source-reviews-user">安徒生的童话</a>
                                                ：<span class="p-source-reviews-content">我也这样觉得</span><a
                                                        class="reply-btn"><i
                                                        class="layui-icon layui-icon-dialogue"></i></a>
                                            </p>
                                            <p class="p-source-reviews"><a href=""
                                                                           class="p-source-reviews-user">安徒生的童话</a>：<span
                                                    class="p-source-reviews-content">真的很不错了</span><a
                                                    class="reply-btn"><i class="layui-icon layui-icon-dialogue"></i></a>
                                            </p>
                                            <p class="p-source-reviews"><a href=""
                                                                           class="p-source-reviews-user">嬴政</a>：<span
                                                    class="p-source-reviews-content">朕用着感觉很好</span><a
                                                    class="reply-btn"><i class="layui-icon layui-icon-dialogue"></i></a>
                                            </p>
                                        </div>
                                        <div class="layui-card-body">
                                            <a onclick="nextPageComment()">下一页</a>
                                            <a onclick="prePageComment()">上一页</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    分页开始-->
    <!--    页脚-->
    <div class="layui-row layui-col-space15">
        <div class="layui-col-xs12">
            <div class="layui-bg-cyan layui-card layui-footer">
                <div class="layui-text layui-card-body">
                    <p>版权信息:本站版权归1771556583@qq.com所有</p>
                    <p>商业合作：请联系1771556583@qq.com</p>
                    <p>本产品中使用了layui的源代码，感谢layui的支持</p>
                </div>
            </div>
        </div>
    </div>
    <!--    页脚结束-->
</div>
<script src="../vender/layui/layui.js"></script>
<script src="/vender/layui/layui.js"></script>
<script>
    layui.use(["carousel"], function () {
        layui.carousel.render({
            elem: "#source-caro"
            , width: "100%"
        })
    })
</script>
</body>
</html>